body {
	background: #121212;
	color: #FCF9F0;
}

h1 {
	font-family: Montserrat, Arial, serif;
}

p {
	font-family: Poppins, Helvetica, sans-serif;
}

.container {
	position: absolute;
	background: #212120;
}

.search {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 75px;
}

.notes {
	left: 32px;
	top: 150px;
	bottom: 32px;
	width:350px;
}

.quick_bttn {
	right: 32px;
	top: 150px;
	bottom: 32px;
	padding: 15px;
	width: 320px;
	display: grid;
	overflow: scroll;
	grid-auto-flow: column, wrap;
	grid-template-columns: 98px 98px 98px;
	grid-auto-rows: 98px;
	gap: 13px;
}